@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
*{
  padding: 0;margin: 0;box-sizing: border-box;
  color: white;
}
.container{
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav{
  min-height: 80px;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:x-large;
  position: sticky;
  top: 0;left: 0;right: 0;
}

.nav ul{
  display: flex;
  gap: 1.875rem;
  list-style: none;

}
.nav a{
  text-decoration: none;
  padding: 5px 10px;

}
.main{

}
  .about{
    min-height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a:hover{
    background-color: rgb(41, 24, 46);
    border-radius: 10px;
    border-bottom: 2px solid rgb(214, 233, 11);
    
  }

  .work{
    min-height: 100vh;
    background-color: rgb(63, 46, 46);
  }

  .contact{
    min-height: 100vh;
    background-color: thistle;
  }


  .footer{
    background-color: rgb(35, 62, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
  }
  strong{
    font-weight: bolder;
  }